<% provide(:title, 'All Listings') %>
<h1>All Listings</h1>

<ul class="listings">
  <% @houses.each do |house| %>
    <li>
      <%= link_to "#{house.address}, #{house.city}, #{house.state}", house %>
    </li>
  <% end %>
</ul>