<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
			  <%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
<p>
  //This page will display the user's listed homes, as well as edit their listings. 
</p>