<footer class="footer">
  <small>
    <% if !signed_in? %>
      Robert's Real Estate
    <% else %>
      Logged in as <%=h current_user.name %>
    <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Terms of Use", '#' %></li>
      <li><%= link_to "Privacy", '#' %></li>
    </ul>
  </nav>
</footer>