<footer class="footer">
  <small>
    Robert's Real Estate
  </small>
  <nav>
    <ul>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Terms of Use", '#' %></li>
      <li><%= link_to "Privacy", '#' %></li>
    </ul>
  </nav>
</footer>